<!--The content below is only a placeholder and can be replaced.-->
<div >
  <img width="400" alt="Angular Logo" src="https://www.concordia.ca/etc/designs/concordia/clientlibs/img/logo-concordia-university-montreal.png">
  <img  alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Jenkins_logo.svg" width="100"  style="float: right;margin-right: 25px;">
  <h1 style="text-align:center">
    Welcome to CI and CD using Jenkins!
  </h1>
  
</div>
<h2>Click on the below links for various CI and CD tools: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.pcloudy.com/10-best-continuous-integration-tools-in-2020/">Click on this link for various Continuous Integration tools</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.softwaretestinghelp.com/continuous-deployment-tools/">Click on this link for various Contininuous deployement tools</a></h2>
  </li>
  <p> Jenkins with pipeline methodology for building and integration is one of the best automation process as it is easily configurable,<br> an open source, user-friendly, platform independent, flexible, saves a lot of time and also helps the developers for building and testing the software continuously.</p>
  <h3 style="color: Red; font-style: Italic;">Thank You!</h3>
</ul>

<router-outlet></router-outlet>
